@model IEnumerable<Personal.Models.PersonalPost>

@{
    ViewData["Title"] = "Index";
}

    <div id="postlisting">
        <form class="mt-3 bg-dark p-3 form-post" asp-controller="Posts" asp-action="Create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <textarea name="content" id="txtContent" rows="5" class="form-control post-input" placeholder="How was your day ?'" required></textarea>
                <div class="my-2">
                    <input type="file" name="images" multiple id="inputImages" maxlength="1000"/>
                    <div class="float-right d-flex align-items-center">
                        <small id="textRemaining" class="text-white mr-2"></small>
                        <input type="submit" class="btn btn-outline-warning border-0 float-right" value="Post !">
                    </div>
                </div>
            </div>
        </form>
        <br />

        <table class="table d-none">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageUrls)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InsertDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="postList">
                @Html.Partial("PartialPosts", Model)
            </tbody>
        </table>

        <p id="loadingtext" style="margin-left:auto; margin-right:auto;display:none;"> </p>
        <input id="hidPage" type="hidden" name="page" value="1"/>
    </div>