@model IEnumerable<Personal.Models.PersonalPost>

@{
    ViewData["Title"] = "Index";
}

    <div id="postlisting">
        <form style="margin-top:20px; border-bottom: solid black 1px;" asp-controller="Posts" asp-action="Create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <textarea name="content" rows="3" class="form-control" placeholder="How was your day ?'" required></textarea>
            </div>
            <div class="form-group">
                Photo : <input type="file" name="images" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Post !" />
            </div>
        </form>
        <br />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageUrls)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InsertDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastUpdated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="postList">
                @Html.Partial("PartialPosts", Model)
            </tbody>
        </table>

        <p id="loadingtext" style="margin-left:auto; margin-right:auto;display:none;"> </p>
        <input id="hidPage" type="hidden" name="page" value="1"/>
    </div>