@model List<Personal.Models.PersonalPost>

@foreach (var post in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => post.Content)
        </td>
        <td>
            @if (post.ImageUrls != null && post.ImageUrls != "")
            {
                string[] arrImageUrls = post.ImageUrls.Split(";");
                foreach (var url in arrImageUrls)
                {
                    <img src="@url" width="200px" height="200px" /><br />
                }
            }

        </td>
        <td>
            @string.Format("{0:dd MMMM yyyy hh:mm tt}", post.InsertDate)
        </td>
        <td>
            @string.Format("{0:dd MMMM yyyy hh:mm tt}", post.LastUpdated)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@post.Id" class="btn btn-primary" style="display:block;">Edit</a>
            <form asp-controller="Posts" asp-action="Delete">
                <input type="hidden" name="id" value="@post.Id" />
                <button class="btn btn-danger" style="width:100%;">Delete</button>
            </form>
        </td>
    </tr>
}